In [ ]:
import numpy as np
import pandas as pd

In [ ]:
dff = pd.read_csv('5-Data_Day0_with_label_Example.csv',sep=";")

NameError: ignored

In [ ]:
dff.head(10)

,Unnamed: 0,ORIGINE_1,ORIGINE_2,ORIGINE_3,SEXE_1,SEXE_2,IGSII_ADM_TYP_0.0,IGSII_ADM_TYP_6.0,IGSII_ADM_TYP_8.0,PATWGHT,...,PREBROINF0,PREBROINF1,PREBROINF2,PREBROINF3,PREBROINF4,PREBROINF5,PREBROINF6,PREBROINF7,ANTIBIOTIC,label
0,0,0,1,0,1,0,0,1,0,80.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0
1,2,1,0,0,1,0,0,1,0,73.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0
2,3,0,0,1,1,0,0,1,0,80.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,0
3,6,0,1,0,1,0,0,1,0,50.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0,0
4,9,1,0,0,0,1,0,1,0,79.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0
5,12,0,1,0,0,1,0,1,0,44.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0,1
6,13,1,0,0,1,0,0,1,0,112.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
7,14,0,1,0,1,0,0,1,0,49.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,0
8,16,0,1,0,1,0,0,1,0,64.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1
9,22,0,1,0,0,1,0,0,1,68.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1

In [ ]:
#testing spliting on initial data
X=dff.drop(['label'], axis=1)
Y=dff["label"]
print(X.shape)
print(Y.shape)
#getting just the values for the sake of processing (its a numpy array with no columns)
X_data=X.values
Y_data=Y.values

(10, 127)
(10,)

In [ ]:
# Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split
# Split the data into training and testing sets
X_train, X_test, Y_train, Y_test = train_test_split(X_data, Y_data, test_size = 0.3, random_state = 42)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(7, 127)
(3, 127)
(7,)
(3,)

In [ ]:
#basic decision tree 
from sklearn.tree import DecisionTreeClassifier
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,Y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)
#Evaluating the classifier                                   # evaluation for basic decision tree
#printing every score of the classifier
#scoring in any thing
from sklearn.metrics import classification_report, accuracy_score,precision_score,recall_score,f1_score,matthews_corrcoef

print('The model used is Random Forest classifier')
acc= accuracy_score(Y_test,y_pred)
print('The accuracy is {}'.format(acc))
prec= precision_score(Y_test,y_pred)
print('The precision is {}'.format(prec))
rec= recall_score(Y_test,y_pred)
print('The recall is {}'.format(rec))
f1= f1_score(Y_test,y_pred)
print('The F1-Score is {}'.format(f1))
MCC=matthews_corrcoef(Y_test,y_pred)
print('The Matthews correlation coefficient is{}'.format(MCC))

The model used is Random Forest classifier
The accuracy is 0.6666666666666666
The precision is 1.0
The recall is 0.5
The F1-Score is 0.6666666666666666
The Matthews correlation coefficient is0.5

In [ ]:
df = pd.read_csv('Data_Day_0.csv')

In [ ]:
df.head(10)

   Unnamed: 0    ORIGINE    SEXE  ... PREBROINF7  ANTIBIOTIC  label
0           0  ORIGINE_2    Male  ...          0           1      0
1           1  ORIGINE_1    Male  ...          0           1      0
2           2  ORIGINE_3    Male  ...          0           1      0
3           3  ORIGINE_2    Male  ...          0           0      0
4           4  ORIGINE_1  Female  ...          0           1      0
5           5  ORIGINE_2  Female  ...          0           0      1
6           6  ORIGINE_1    Male  ...          0           0      0
7           7  ORIGINE_2    Male  ...          0           1      0
8           8  ORIGINE_2    Male  ...          0           1      1
9           9  ORIGINE_2  Female  ...          0           1      1

[10 rows x 123 columns]

In [ ]:
Label = df.iloc[: , -1]
Column_Age = df.iloc[:,5]
Sexe=df.iloc[:,2]
SITINF1=df.iloc[:,18]
KNAUS_J0 = df.iloc[:,7]

In [ ]:
 import numpy as np

def FisherTry(feature,label):
  arr_0=[]
  arr_1=[]
  size=len(label)
  for i in range(0,size):
     if label[i]==0:
       arr_0.append(feature[i])
     if label[i]==1:
       arr_1.append(feature[i])

  
  print(arr_0)
  print(arr_1)
  
  mean_0=np.mean(arr_0)
  mean_1=np.mean(arr_1)
  print("mean 0",mean_0)
  print("mean 1",mean_1)
  
  std0=np.std(arr_0)
  print("STD0",std0)

  std1=np.std(arr_1)
  print("STD1",std1)
  
 # print(std0)
 #print(std1)    
 #np.abs(val)
 #np.square(val)
  m=mean_1 - mean_0
  print("minus means",m)
  stdd=np.square(std0)-np.square(std1)
  print("minus square of STD",stdd)
  
  fi=np.abs(m/stdd)
  
  return fi

In [ ]:
print(FisherTry(Column_Age,Label))

[83, 84, 37, 57, 32, 54, 75]
[82, 70, 77]
mean 0 60.285714285714285
mean 1 76.33333333333333
STD0 19.593834932114202
STD1 4.921607686744467
minus means 16.047619047619044
minus square of STD 359.6961451247165
0.04461437595350068

In [ ]:
import math 

def t_test_index(feature,label):
  arr_0=[]
  arr_1=[]
  size=len(label)
  for i in range(0,size):
     if label[i]==0:
       arr_0.append(feature[i])
     if label[i]==1:
       arr_1.append(feature[i])
     
  n0=len(arr_0)
  n1=len(arr_1)  
  mean_0=np.mean(arr_0)
  mean_1=np.mean(arr_1)
  print("mean 0",mean_0)
  std0=np.std(arr_0,axis=0)
  std1=np.std(arr_1,axis=0)
  print("std0",std0)
  print("std1",std1)    
  m=np.abs(mean_0 - mean_1)
  v0=np.square(std0)/n0
  v1=np.square(std1)/n1
  t=math.sqrt(v0+v1)
  res=m/t
  return res

In [ ]:
print(t_test_index(Column_Age,Label))

mean 0 60.285714285714285
std0 19.593834932114202
std1 4.921607686744467
2.0231020237062554

In [ ]:
from scipy import stats
def corr_index(feature,label):
  res=stats.pearsonr(feature,label)
  return res[0]

In [ ]:
print(corr_index(Column_Age,Label))

0.40476604163136526

In [ ]:
a=[10,20,30,40,50,60]
print(np.reshape(a,(-1,1)))

[[10]
 [20]
 [30]
 [40]
 [50]
 [60]]

In [ ]:
# mutual information index
from sklearn.feature_selection import mutual_info_classif
def mutual_inf_index(feature,label):
    f=np.array(feature)
    ff=np.reshape(f,(-1,1))
    l=np.array(label)
    #print(ff) 
    #print(l)
    res= mutual_info_classif(ff,l,discrete_features=True)
    return res[0]

In [ ]:
print(mutual_inf_index(Column_Age,Label))

0.6108643020548934

In [ ]:
import numpy as np
def mutual_inf_index_cat(x, y):
    sum_mi = 0.0
    x_value_list = np.unique(x)
    y_value_list = np.unique(y)
    Px = np.array([ len(x[x==xval])/float(len(x)) for xval in x_value_list ]) #P(x)
    Py = np.array([ len(y[y==yval])/float(len(y)) for yval in y_value_list ]) #P(y)
    for i in range(len(x_value_list)):
        if Px[i] ==0.:
            continue
        sy = y[x == x_value_list[i]]
        if len(sy)== 0:
            continue
        pxy = np.array([len(sy[sy==yval])/float(len(y))  for yval in y_value_list]) #p(x,y)
        t = pxy[Py>0.]/Py[Py>0.] /Px[i] # log(P(x,y)/( P(x)*P(y))
        sum_mi += sum(pxy[t>0]*np.log2( t[t>0]) ) # sum ( P(x,y)* log(P(x,y)/( P(x)*P(y)) )
    return sum_mi

In [ ]:
print(mutual_inf_index_cat(Sexe,Label))

0.1916312040067169

In [ ]:
def chi2_by_hand(df, col1, col2):    
    #---create the contingency table---
    df_cont = pd.crosstab(index = df[col1], columns = df[col2])
    display(df_cont)
    #---calculate degree of freedom---
    degree_f = (df_cont.shape[0]-1) * (df_cont.shape[1]-1)
    #---sum up the totals for row and columns---
    df_cont.loc[:,'Total']= df_cont.sum(axis=1)
    df_cont.loc['Total']= df_cont.sum()
    print('---Observed (O)---')
    display(df_cont)
    #---create the expected value dataframe---
    df_exp = df_cont.copy()    
    df_exp.iloc[:,:] = np.multiply.outer(
        df_cont.sum(1).values,df_cont.sum().values) / df_cont.sum().sum()            
    print('---Expected (E)---')
    display(df_exp)
        
    # calculate chi-square values
    df_chi2 = ((df_cont - df_exp)**2) / df_exp    
    df_chi2.loc[:,'Total']= df_chi2.sum(axis=1)
    df_chi2.loc['Total']= df_chi2.sum()
    
    print('---Chi-Square---')
    display(df_chi2)
    #---get chi-square score---   
    chi_square_score = df_chi2.iloc[:-1,:-1].sum().sum()
    
    return chi_square_score

In [ ]:
print(chi2_by_hand(df,'SEXE',"label"))

label   0  1
SEXE
Female  1  2
Male    6  1

---Observed (O)---

label   0  1  Total
SEXE
Female  1  2      3
Male    6  1      7
Total   7  3     10

---Expected (E)---

label     0    1  Total
SEXE
Female  2.1  0.9    3.0
Male    4.9  2.1    7.0
Total   7.0  3.0   10.0

---Chi-Square---

label          0         1     Total
SEXE
Female  0.576190  1.344444  1.920635
Male    0.246939  0.576190  0.823129
Total   0.823129  1.920635  2.743764

2.743764172335601

In [ ]:
#function that take 4 input and give us 1 output

In [ ]:
#function that take 2 input and give us 1 output

In [ ]:
for column in df:
    if(df[column].dtype.name=="int64" or df[column].dtype.name=="float64"):
              #continue later

In [ ]:
#dividing the X and the Y from the dataset
#data is dataframe after selecting feature
X=data.drop(['label'], axis=1)
Y=data["label"]
print(X.shape)
print(Y.shape)
#getting just the values for the sake of processing (its a numpy array with no columns)
X_data=X.values
Y_data=Y.values

In [ ]:
# Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split
# Split the data into training and testing sets
X_train, X_test, Y_train, Y_test = train_test_split(X_data, Y_data, test_size = 0.2, random_state = 42)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

In [ ]:
import warnings
warnings.filterwarnings("ignore")

In [ ]:
#basic decision tree 
from sklearn.tree import DecisionTreeClassifier
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,Y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

In [ ]:
#Evaluating the classifier                                   # evaluation for basic decision tree
#printing every score of the classifier
#scoring in any thing
from sklearn.metrics import classification_report, accuracy_score,precision_score,recall_score,f1_score,matthews_corrcoef
n_outliers = len(Fraud)
n_errors = (y_pred != Y_test).sum()
print('The model used is Random Forest classifier')
acc= accuracy_score(Y_test,y_pred)
print('The accuracy is {}'.format(acc))
prec= precision_score(Y_test,y_pred)
print('The precision is {}'.format(prec))
rec= recall_score(Y_test,y_pred)
print('The recall is {}'.format(rec))
f1= f1_score(Y_test,y_pred)
print('The F1-Score is {}'.format(f1))
MCC=matthews_corrcoef(Y_test,y_pred)
print('The Matthews correlation coefficient is{}'.format(MCC))

In [ ]:
#basic decision tree  training with giniIndex.
from sklearn.tree import DecisionTreeClassifier
# Create Decision Tree classifer object
clf = DecisionTreeClassifier(criterion = "gini")

# Train Decision Tree Classifer
clf = clf.fit(X_train,Y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

In [ ]:
#Evaluating the classifier                                       # evaluation for basic decision tree GINI INDEX
#printing every score of the classifier
#scoring in any thing
from sklearn.metrics import classification_report, accuracy_score,precision_score,recall_score,f1_score,matthews_corrcoef
n_outliers = len(Fraud)
n_errors = (y_pred != Y_test).sum()
print('The model used is Random Forest classifier')
acc= accuracy_score(Y_test,y_pred)
print('The accuracy is {}'.format(acc))
prec= precision_score(Y_test,y_pred)
print('The precision is {}'.format(prec))
rec= recall_score(Y_test,y_pred)
print('The recall is {}'.format(rec))
f1= f1_score(Y_test,y_pred)
print('The F1-Score is {}'.format(f1))
MCC=matthews_corrcoef(Y_test,y_pred)
print('The Matthews correlation coefficient is{}'.format(MCC))

In [ ]:
#basic decision tree 
#training with entropy.
from sklearn.tree import DecisionTreeClassifier
# Create Decision Tree classifer object
clf = DecisionTreeClassifier(criterion = "entropy")

# Train Decision Tree Classifer
clf = clf.fit(X_train,Y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

In [ ]:
#Evaluating the classifier                              # evaluation for basic decision tree Using entropy(information gain)
#printing every score of the classifier
#scoring in any thing
from sklearn.metrics import classification_report, accuracy_score,precision_score,recall_score,f1_score,matthews_corrcoef
n_outliers = len(Fraud)
n_errors = (y_pred != Y_test).sum()
print('The model used is Random Forest classifier')
acc= accuracy_score(Y_test,y_pred)
print('The accuracy is {}'.format(acc))
prec= precision_score(Y_test,y_pred)
print('The precision is {}'.format(prec))
rec= recall_score(Y_test,y_pred)
print('The recall is {}'.format(rec))
f1= f1_score(Y_test,y_pred)
print('The F1-Score is {}'.format(f1))
MCC=matthews_corrcoef(Y_test,y_pred)
print('The Matthews correlation coefficient is{}'.format(MCC))

In [ ]:
# Building the Random Forest Classifier (RANDOM FOREST)
from sklearn.ensemble import RandomForestClassifier
# random forest model creation
rfc = RandomForestClassifier()
rfc.fit(X_train,Y_train)
# predictions
y_pred = rfc.predict(X_test)

In [ ]:
#Evaluating the classifier                                       # evaluation for  decision tree with voting
#printing every score of the classifier
#scoring in any thing
from sklearn.metrics import classification_report, accuracy_score,precision_score,recall_score,f1_score,matthews_corrcoef
n_outliers = len(Fraud)
n_errors = (y_pred != Y_test).sum()
print('The model used is Random Forest classifier')
acc= accuracy_score(Y_test,y_pred)
print('The accuracy is {}'.format(acc))
prec= precision_score(Y_test,y_pred)
print('The precision is {}'.format(prec))
rec= recall_score(Y_test,y_pred)
print('The recall is {}'.format(rec))
f1= f1_score(Y_test,y_pred)
print('The F1-Score is {}'.format(f1))
MCC=matthews_corrcoef(Y_test,y_pred)
print('The Matthews correlation coefficient is{}'.format(MCC))